<html>
    <head>
        <title>NODE APPLICATION EXPERIMENT FUN TIME</title>
        <link rel="icon" href="https://clib.co/assets/images/favicon/lab_experiment_green.ico">
        <link rel="stylesheet" type="text/css" href="https://clib.co/assets/third/bs/css/bsbuttons.css">
        <link rel="stylesheet" type="text/css" href="https://clib.co/assets/css/gradients/ash.css">
        <link href="https://clib.co/assets/fonts/hammersmith_one/hammersmith_one.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script defer src="https://clib.co/assets/third/fav5/js/fontawesome.js"></script>
        <script defer src="https://clib.co/assets/third/fav5/js/packs/solid.js"></script>
        <!-- <meta name="viewport" content="device-width, initial-scale=1.0"> -->
        
    <head>
    <body>