<html>
    <head>
        <title>NODE APPLICATION EXPERIMENT FUN TIME</title>
        <link rel="icon" href="https://clib.co/assets/images/favicon/lab_experiment_green.ico">
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="https://clib.co/assets/css/gradients/ash.css">
        <link rel="stylesheet" type="text/css" href="https://clib.co/assets/third/bs/css/bsbuttons.css">
        <script defer src="https://clib.co/assets/third/fav5/js/fontawesome.js"></script>
        <script defer src="https://clib.co/assets/third/fav5/js/packs/solid.js"></script>
    <head>
    <body>