<html>
    <head>
        <title>NODE APPLICATION EXPERIMENT FUN TIME</title>
        <link rel="icon" href="https://clib.co/assets/images/favicon/lab_experiment_green.ico">
        <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>