<% include partials/header %>

    <div class="container">
        <div class="indexLoginForm">

                <br>
                <br>

            <form action="/" method="POST">
                <input type="text" placeholder="Username" name="username" required pattern="[a-zA-z.0-9]{1,20}" title="Your username cannot be longer than 20 characters">
                <input type="password" placeholder="Password" required pattern="[a-zA-z.0-9]{1,20}" title="Your password cannot be longer than 20 characters">
                <button class="btn btn-success" >Log In <i class="fa fa-arrow-right"></i></button>
            </form>
            
                <br>
                <br>

        </div>
    </div>
<% include partials/footer %>