/* STANDARD SETTINGS FOR ALL PAGES */
p, h1, h2, h3, h4 { 
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
}

input, button {
    font-family: 'Hammersmith One', sans-serif !important;
    font-size: 15px;
    
    
}

table {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 15px;
}

form {
    margin: 0 auto;
    padding: 1%;
}



body {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

/* INDEX */

.indexLoginForm {
    border: 3px solid black;
    position: absolute;
    top: 40%;
    left: 19%;
    width: 60%;
    background: #c0c6be;
    border-radius: 15px;
    text-align: center;
}